In [11]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\usuario\documents\meurep\python\test-plan\.venv\lib\site-packages (3.1.1)
Requirement already satisfied: et-xmlfile in c:\users\usuario\documents\meurep\python\test-plan\.venv\lib\site-packages (from openpyxl) (1.1.0)

In [12]:
import pandas as pd

In [45]:
tabela = pd.read_excel('caixa-mensal-2023.xlsx', sheet_name=0)
tabela = tabela.dropna(axis=1, how='all')
tabela = tabela.dropna(axis=0, how='all')
tabela = tabela.drop(["PC", "SEMANA", "NOMES", "MPPC"], axis=1)
display(tabela["DATA"])
# display(tabela)

0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns]

In [14]:
soma_pix = tabela["PIX"].sum()
soma_cartao = tabela["CARTAO"].sum()
soma_ifood = tabela["IFOOD"].sum()
soma_caixa = tabela["CAIXA"].sum()
soma = soma_caixa + soma_cartao + soma_ifood + soma_pix
print(soma_pix, soma_caixa, soma_cartao, soma_ifood)
print(soma)

1551.72 5417.0 7280.1 3288.714
17537.534

In [48]:
# print(tabela.at[1, "CAIXA"])
# print(tabela.at[1, "PIX"])
# print(tabela.at[1, "CARTAO"])
# print(tabela.at[1, "IFOOD"])

data = []

for contador in range(25):
    data.append(tabela["DATA"])

tabelas_entrada = ["CAIXA", "PIX", "CARTAO", "IFOOD"]
tabelas_saida = ["DIZ", "SALGADO", "EMBALAGENS", "AÇAI/MILK", "FEIRA/PAD.", "COMBUSTIVEL", "MERCADO", "PARTICULAR", "OUTROS"]

[0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns], 0    2023-01-02
1    2023-01-03
2    2023-01-04
3    2023-01-05
4    2023-01-06
5    2023-01-07
6    2023-01-09
7    2023-01-10
8    2023-01-11
9    2023-01-12
10   2023-01-13
11   2023-01-14
12   2023-01-16
13   2023-01-17
14   2023-01-18
15   2023-01-19
16   2023-01-20
17   2023-01-21
18   2023-01-23
19   2023-01-24
20   2023-01-25
21   2023-01-26
22   2023-01-27
23   2023-01-28
24   2023-01-30
25   2023-01-31
26          NaT
Name: DATA, dtype: datetime64[ns]]

In [26]:
def entrada_ou_saida_mes(colunas):
    total = 0
    soma_entradas = []
    lista_entradas = []

    for col in colunas:
        for contador in range(26):
            total += tabela.at[contador, col]
            contador += 1

        soma_entradas.append(round(total, 2))
        total = 0

    for contador in range(soma_entradas.__len__()):
        lista_entradas.append({
            colunas[contador]: soma_entradas[contador]
        })

    return lista_entradas

print(entrada_ou_saida_mes(tabelas_entrada))
# print(entrada_ou_saida_mes(tabelas_saida))

[{'CAIXA': 2708.5}, {'PIX': 775.86}, {'CARTAO': 3640.05}, {'IFOOD': 1644.36}]

In [17]:
# Total de entrada mensal

c = 0
total = 0
total_entrada_mes = []

for tab in tabelas_entrada:
    for c in range(26):
        total += tabela.at[c, tab]
        c+=1
    total_entrada_mes.append(round(total, 2))
    total = 0

print(total_entrada_mes)

[2708.5, 775.86, 3640.05, 1644.36]

In [50]:
def total_dia(colunas, datas):
    linhas = 0
    dias = 1
    total = 0
    total_mensal = 0.00
    entradas_dia = []
    total_diario = []

    for contador in range(26):
        for col in colunas:
            if linhas > 25:
                break
            
            total += tabela.at[linhas, col]

            if col == colunas[-1]:
                dia = {
                    dias: total
                }

                entradas_dia.append(dia)
                total_mensal += total
                
                total = 0
                linhas += 1
                dias += 1

    for contador in range(26):
        total_diario.append({
            datas[contador]: entradas_dia[contador]
        })

    return {
        "total_diario": total_diario,
        "total_mensal": total_mensal
    }

print(total_dia(tabelas_entrada, data))
# print(total_dia(tabelas_saida, data))

TypeError: unhashable type: 'Series'

In [19]:
# Total de caixa diario e mensal

x, z, t = 1, 1, 0
dias = 1
total_mensal = 0.00
total_diario = []

for x in range(26):
    for tab in tabelas_entrada:
        if z > 25:
            break
        
        t += tabela.at[z, tab]

        if tab == "IFOOD":
            dia = {
                dias: round(t, 2)
            }
            total_diario.append(dia)
            
            total_mensal += t
            
            t = 0
            z += 1
            dias += 1
            
print(total_diario)
print(total_mensal)

[{1: 702.96}, {2: 294.55}, {3: 382.69}, {4: 697.73}, {5: 31.98}, {6: 575.05}, {7: 443.11}, {8: 654.65}, {9: 575.83}, {10: 412.79}, {11: 109.0}, {12: 236.99}, {13: 247.33}, {14: 327.16}, {15: 220.1}, {16: 317.58}, {17: 169.0}, {18: 288.88}, {19: 114.51}, {20: 347.7}, {21: 417.1}, {22: 347.25}, {23: 322.27}, {24: 220.08}, {25: 312.48}]
8768.767